.card-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 20px;
}

.card-body{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.col-md-8{
    margin-left: 20px;
}

#padding{
    margin-top: 100px;
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
